@model Tracker.Controllers.FileUploadModel

@{
    ViewData["Title"] = "Import Financial Transactions";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Import Financial Transactions</title>
</head>
<body>
<form asp-controller="FinancialTransaction" asp-action="Import" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="File" />
    <button type="submit">Upload</button>
</form>  
</body>
</html>