@model IEnumerable<FinancialTransactionView>
@{
    ViewData["Title"] = "Financial Transactions";
}
<partial name="_AddLink"/>
<partial name="_ImportLink"/>
<table hx-target="closest tr">
    <caption>Financial Transactions</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <partial name="Detail" model="t.FinancialTransaction"/>
    }
    </tbody>
</table>