@model IEnumerable<Tracker.Domain.Category>
@{
    ViewData["Title"] = "Categories";
}
<table>
    <caption>Categories</caption>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
    </tbody>
</table>