@model Tracker.Domain.Category

<tr hx-target=this hx-swap=outerHTML>
<td>@Model.Id
<td>@Model.Name
<td>
<button 
    hx-get="categories/@Model.Id/edit">
Edit
</button>
<td>
<button 
    hx-delete=categories/@Model.Id 
    hx-confirm="Delete category?">
Delete
</button>
