/* HTMX styles */
tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

:root {
    /*--sidebar-width: 250px;*/
    --line-length: 100vw;
    --rhythm: 1rem;
}

/*nav {*/
/*    height: 100%;*/
/*    width: var(--sidebar-width);*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    padding-top: 20px;*/
/*}*/

/*main {*/
/*    margin-left: var(--sidebar-width) + 10px;*/
/*    padding: 20px;*/
/*}*/

table {
    width: 100%;
}

tr > td > input, button {
    width: 100%;
}
tr > td > button {
    height: 100%;
}