
@{
    ViewData["Title"] = "Reports";
}

<ul>
    <li><a href="/reports/annual-spending-by-category">Annual Spending by Category</a></li>
    <li><a href="/reports/monthly-spending-by-category">Monthly Spending by Category</a></li>
</ul>
