<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Tracker</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3"> *@
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/site.css">

    @* Put script in header instead of footer so that HTMX does not need to be reloaded when the body is replaced. *@
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script src="/js/site.js"></script>
</head>
<body hx-boost="true">
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Budget" asp-action="Index" hx-target="#main">Budget</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Reports" asp-action="Index" hx-target="#main">Reports</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Index" hx-target="#main">Accounts</a>
                </li>
                <li>
                    <button hx-get="@Url.Action("Add", "Account")" hx-target="#htmx-dialog-container">➕Add Account</button>
                </li>

                @* <!-- Old pages  --> *@
                @* <li> *@
                @*     <a asp-area="" asp-controller="FinancialTransaction" asp-action="Index" hx-target="#main">Financial Transactions</a> *@
                @* </li> *@
                @* <li> *@
                @*     <a asp-area="" asp-controller="Account" asp-action="Index" hx-target="#main">Accounts</a> *@
                @* </li> *@
                @* <li> *@
                @*     <a asp-area="" asp-controller="Category" asp-action="Index" hx-target="#main">Categories</a> *@
                @* </li> *@

                @* <!-- Examples  --> *@
                @* <li> *@
                @*     <a asp-area="" asp-controller="Home" asp-action="Index" hx-boost="false">Home</a> *@
                @* </li> *@
                @* <li> *@
                @*     <a asp-area="" asp-controller="Home" asp-action="Privacy" hx-boost="false">Privacy</a> *@
                @* </li> *@

            </ul>
        </nav>
    </header>
    
    <main id="main">
        @RenderBody()
    </main>

    <div id="htmx-dialog-container" _="on htmx:afterSettle call (first of me).showModal()"></div>
    <footer>
        &copy; 2025 - Tracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
@* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>