<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link href="/lib/missing-1.1.3.css" type="text/css" rel="stylesheet"/> *@
    <link href="/lib/pico-2.1.1.css" type="text/css" rel="stylesheet"/>
    <link href="/css/svg-pie.css" type="text/css" rel="stylesheet"/>
    @* <meta name="htmx-config" includeAspNetAntiforgeryToken="true" /> *@
    <title>@ViewData["Title"] - Tracker</title>
</head>

<body>
<!-- Use a banner for Lynx support! -->
<link href="/home" rel="Home" title="Home"/>
<link href="/budgets" rel="Section" title="Budgets"/>
<link href="/categories" rel="Section" title="Categories"/>
<link href="/accounts" rel="Section" title="Accounts"/>
<link href="/financial-transactions" rel="Section" title="Financial Transactions"/>

<header>
    <nav>
        <ul>
            <li>
                <a href="/home" rel="Home">Home</a>
            </li>
            <li>
                <a href="/envelopes" rel="Section">Envelopes</a>
            </li>
            <li>
                <a href="/accounts" rel="Section">Accounts</a>
            </li>
            <li>
                <a href="/financial-transactions" rel="Section">Financial Transactions</a>
            </li>
            <li>
                <a href="/categories" rel="Section">Categories</a>
            </li>
            <li>
                <a href="/reports" rel="Section">Reports</a>
            </li>
            <li>
                <a href="/home/privacy" rel="License">Privacy</a>
            </li>
            <li>
                <a href="/styles.html" rel="">Styles</a>
            </li>
            <li>
                <a href="/fonts.html" >Fonts</a>
            </li>
        </ul>
    </nav>
</header>

<main id="main">
    @RenderBody()
</main>

<footer>
    (c) 2025 - Tracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>
</body>

</html>