<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" includeAspNetAntiforgeryToken="true" />
    <title>@ViewData["Title"] - Tracker</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="/lib/missing-1.1.3.css">
    @* <link rel="stylesheet" href="/css/reset.css"> *@
    @* <link rel="stylesheet" href="/css/site.css"> *@

    @* Put script in header instead of footer so that HTMX does not need to be reloaded when the body is replaced. *@
    <script src="/lib/htmx-2.0.4.js"></script>
    <script src="/lib/hyperscript-0.9.14.js"></script>
    <script src="/js/site.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Budgets" asp-action="Index">Budget</a>
                </li>
                <li>
                    <a href="/report">Reports</a>
                </li>
                <li>
                    <a  asp-controller="Accounts" asp-action="Index">Accounts</a>
                </li>
                <li>
                    <a asp-controller="FinancialTransactions" asp-action="Index">Financial Transactions</a>
                </li>
                <li>
                    <a asp-controller="Categories" asp-action="Index">Categories</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">
        @RenderBody()
    </main>

    <div id="dialog" _="on mutation of childList showModal() on the first <dialog/>"></div>
    <footer>
        &copy; 2025 - Tracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>

</html>