@model Tracker.Domain.FinancialTransaction

@* @{ *@
@*     Layout = null; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* *@
@* <html lang="en"> *@
@* <head> *@
@*     <title>Add Financial Transaction</title> *@
@* </head> *@
@{
    ViewData["Title"] = "Add Financial Transaction";
}

@* <body> *@
<form action="@Url.Action("Add")" method="post">
    <fieldset>
        <label>Posted On<input type="date" required="required" name="postedOn"/></label>
        <label>Description<input required="required" name="description"/></label>
        <label>Amount<input type="number" step="0.01" placeholder="0.00" name="amount"/></label>
    </fieldset>
    <button type="submit" hx-post="@Url.Action("Add")" hx-swap="outerHTML">Add Transaction</button>
</form>
@* </body> *@
@* </html> *@