@model Tracker.Controllers.ImportTransactionsViewModel

@{
    ViewData["Title"] = "Import Financial Transactions";
}

<form method="post" enctype="multipart/form-data" class="table rows">
    <div>
        <label for="accountId">Account</label>
        <select id="accountId" name="accountId" required>
            @foreach (var account in Model.Accounts)
            {
                <option value="@account.Id">@account.Name</option>
            }
        </select>
    </div>
    <div>
        <label for="file">JSON File</label>
        <input type="file" name="file" id="file"/>
    </div>
    <div>
        <button type="submit">Import</button>
        <a href="/financial-transactions">Cancel</a>
    </div>
</form>  
