@model IEnumerable<Tracker.Domain.Account>

@{
    ViewData["Title"] = "Accounts";
}

<partial name="_AddLink"/>
<table>
    <caption>Accounts</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>@account.Name</td>
            <td></td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
@* </body> *@
@* </html> *@