@model Tracker.Controllers.AddAccountViewModel

<form class="table rows" asp-action="Add" asp-controller="Accounts">
    <!-- TODO: use custom validation that works without JQuery-->
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" autofocus="autofocus"/>
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="CurrentBalance"></label>
        <input asp-for="CurrentBalance" />
        <span asp-validation-for="CurrentBalance"></span>
    </div>

    <div>
        <label asp-for="BalanceDate"></label>
        <input asp-for="BalanceDate" />
        <span asp-validation-for="BalanceDate"></span>
    </div>

    <div>
        <label asp-for="KindId"></label>
        <select asp-for="KindId" asp-items="Model.Kinds"></select>
        <span asp-validation-for="KindId"></span>
    </div>

    <div>
        <label asp-for="BudgetKindId"></label>
        <select asp-for="BudgetKindId" asp-items="Model.BudgetKinds"></select>
        <span asp-validation-for="BudgetKindId"></span>
    </div>

    @* <button hx-method="get" hx-action="@Url.Action("Index", "Account")" hx-swap="#main" hx-target="innerHTML" type="button">Cancel</button> *@
    <button type="submit">Add Account</button>
</form>