@model Tracker.Controllers.EditAccountViewModel

<form asp-action="Edit" class="table rows">
    <!-- TODO: use custom validation that works without JQuery-->
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="CurrentBalance"></label>
        <input asp-for="CurrentBalance" disabled="disabled"/>
        <span asp-validation-for="CurrentBalance"></span>
    </div>

    <div>
        <label asp-for="BalanceDate"></label>
        <input asp-for="BalanceDate" disabled="disabled"/>
        <span asp-validation-for="BalanceDate"></span>
    </div>

    <div>
        <label asp-for="KindId"></label>
        <select asp-for="KindId" asp-items="Model.Kinds"></select>
        <span asp-validation-for="KindId"></span>
    </div>

    <div>
        <label asp-for="BudgetKindId"></label>
        <select asp-for="BudgetKindId" asp-items="Model.BudgetKinds"></select>
        <span asp-validation-for="BudgetKindId"></span>
    </div>

    <section class="tool-bar">
        <button type="submit">Update Account</button>
        <button type="button" _="on click go to url @Url.Action("Index")">Cancel</button>
    </section>
</form>