@model IEnumerable<Tracker.Domain.Account>

@* @{ *@
@*     Layout = null; *@
@* } *@

@* <!DOCTYPE html> *@
@* *@
@* <html lang="en"> *@
@* <head> *@
@*     <title>Accounts</title> *@
@* </head> *@
@* <body> *@

@{
    ViewData["Title"] = "Accounts";
}

<partial name="_AddAccount"/>
@* <a href="@Url.Action("Add")" hx-boost="true" hx-get="@Url.Action("Add")" hx-swap="outerHTML">Add</a> *@
<table>
    <caption>Accounts</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model)
    {
        <tr>
            <td>@account.Name</td>
            <td></td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
@* </body> *@
@* </html> *@